<div class="biography">
    <div class="content-container">
        <div class="content-area">
            <div class="clr-row intro">
                <div class="clr-col-md-12">
                    <div class="name">
                        <h1>Jose Carranco</h1>
                        <a href="mailto:carranco.jose.r@gmail.com">carranco.jose.r@gmail.com</a>
                        <br/>
                        <a class="socialIcons" href="https://www.linkedin.com/in/carranj" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-linkedin"></i>
                        </a>
                        <a class="socialIcons" href="https://www.facebook.com/carranj" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-facebook-square"></i>
                        </a>
                        <a class="socialIcons" href="https://github.com/carranj" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-github-square"></i>
                        </a>
                        <img class="profile-photo" src="/images/profile-photo.jpg" alt="Jose Carranco"/>
                        <p>I am a Full Stack Web Developer who specializes in creating web applications and building WordPress websites. <a routerLink="/portfolio">Click here</a> to view my featured work and learn more of my interactive journey.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="content-container">
    <div class="content-area">
        <div class="clr-row sectionTwo">
            <div class="clr-col-md-4">
            <div class="card">
                <div class="card-block">
                <h3 class="card-title">Strategies</h3>
                <div class="card-text">
                    <ul>
                    <li>Inbound Marketing</li>
                    <li>Whitepaper</li>
                    <li>Social Media Planning</li>
                    <li>Branding</li>
                    <li>Project Management</li>
                    <li>Google Analytics</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
            <div class="clr-col-md-4">
            <div class="card">
                <div class="card-block">
                <h3 class="card-title">Development</h3>
                <div class="card-text">
                    <ul>
                    <li>Angular</li>
                    <li>React</li>
                    <li>WordPress</li>
                    <li>Laravel</li>
                    <li>JavaScript</li>
                    <li>PHP</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>                                                
            <div class="clr-col-md-4">
            <div class="card">
                <div class="card-block">
                <h3 class="card-title">Design</h3>
                <div class="card-text">
                    <ul>
                    <li>Photoshop</li>
                    <li>SVG Animation</li>
                    <li>Illustrator</li>
                    <li>XD</li>
                    <li>Website Design</li>
                    <li>Print Production</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
</div>
