<clr-header [class.scrolled]="isScrolled" class="header-7">
    <div class="branding">
        <a routerLink="/" class="nav-link">
            <span class="title">Jose Carranco</span>
        </a>
    </div>
    <div class="header-nav">
        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-current="page">
            <span class="nav-text">Home</span>
        </a>
        <a routerLink="/biography" class="nav-link" routerLinkActive="active">
            <span class="nav-text">Biography</span>
        </a>
        <a routerLink="/portfolio" class="nav-link" routerLinkActive="active">
            <span class="nav-text">Portfolio</span>
        </a>
        <a routerLink="/investments" class="nav-link" routerLinkActive="active">
            <span class="nav-text">Investments</span>
        </a>
    </div>
</clr-header>