@import '../../../styles/variables';

.homepage {
    min-height: 100vh;
    background: url("/assets/images/homepage-bg.jpg") no-repeat center center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px $color-overlay;
    color: $color-text;
    display: flex;
    justify-content: center;
    align-items: center;
    .intro {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        h1 {
            font-size: 48px;
            @media screen and (min-width: 768px) {
                font-size: 80px;
            }
        }
        h2 {
            font-size: 22px;
            color: $color-text-2;
            @media screen and (min-width: 768px) {
                font-size: 36px;
            }
        }
        .tabbedNav {
            margin-top: 30px;
        }
    }
}