.homepage {
    height: 100%;
    background: url("/images/homepage-bg.jpg") no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(37, 37, 37, 0.9);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    .intro {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        h1 {
            font-size: 48px;
            @media screen and (min-width: 768px) {
                font-size: 80px;
            }
        }
        h2 {
            font-size: 22px;
            @media screen and (min-width: 768px) {
                font-size: 36px;
            }
        }
        .tabbedNav {
            margin-top: 30px;
        }
    }
}