@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import "styles/variables";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "Muli", sans-serif;
    background: $color-bg;
    color: $color-text;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}